{% extends "base-core.html" %}
{% block content %}
<section class="p-9">
	<style>
		.fade-out {
			transition: opacity 0.3s ease-out;
			opacity: 0;
		}
	</style>
	<!-- <h3 class="bg-green-100">this is from task_form.html file (ok)</h3> -->
	<br>
	<div class="w-1/2 mx-auto mt-8">		
		<!-- form -->
		<form method="POST" enctype='multipart/form-data'>
			{% csrf_token %}
			{{ task_form.as_p }}
			{{ task_detail_form.as_p }}
			<div class="flex justify-center mt-4">
				<button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 mb-8">submit</button>
			</div>
		</form>
	</div>
	<script>
		function dismissMessage(btn) {
			const msgEl = btn.closest('.message'); // climbs up through its(btn) ancestors - closest() vs parentElement
			msgEl.classList.add('fade-out');
			// After transition, remove from DOM
			msgEl.addEventListener('transitionend', () => {
				msgEl.remove();
			}, { once: true });
		}
	</script>
</section>
{% endblock content %}
<!-- for edit task status implementation in form ? -->