{% extends "dashboard/dashboard.html" %}
{% block title %}Manager Dashboard{% endblock title %}
{% block tasks %}
<!-- Task Table  -->
<div class="bg-white rounded-xl shadow-sm mb-11">
	<a href="{% url 'profile' %}" class="bg-blue-400 hover:bg-blue-500 text-sm text-white px-2 py-1 m-3 rounded-md">My Profile</a>
    <div
      class="grid grid-cols-4 p-4 border-b border-gray-100 text-sm text-gray-500"
    >
      <div>TASK TITLE</div>
      <div>PRIORITY</div>
      <div>TEAM</div>
      <div>CREATED AT</div>
    </div>	
    <!-- Task Items  -->
    <div class="divide-y divide-gray-100">
     {% for task in tasks %}
       <!-- Task 1 -->
       <div class="grid grid-cols-4 gap-4 p-4 items-center">
        <div class="flex items-center gap-2">
          <div class="w-2 h-2 rounded-full bg-green-500"></div>
          <a href="{% url 'task-details' task.id %}">{{task.title}}</a>
          <a href='{% url "update-task" task.id %}' class="px-2 py-1 bg-green-500 text-sm text-white rounded">Edit</a>
          <form action='{% url "delete-task" task.id %}' method='POST'>
            {% csrf_token %}
            <button type='submit' class="px-2 py-1 bg-red-500 text-sm text-white rounded">Delete</button>
          </form>
        </div>
        <div>
          <span
            class="px-3 py-1 rounded-full bg-blue-50 text-blue-600 text-sm"
            >{{task.details.get_priority_display}}</span
          >
        </div>
        <div class="flex -space-x-2">
          {% for emp in task.assigned_to.all %}
          <div
          class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white"
        >
          {{emp.username|upper|slice:':2'}}
        </div>
          {% endfor %}
        </div>
        <div class="text-gray-500">{{task.created_at|timesince}}</div>
      </div>
     {% endfor %}

    </div>
  </div>
	<div class="my-5 mx-5">
		<a href="{% url 'create-task' %}" class="inline-block px-5 py-3 bg-blue-500 text-white text-sm rounded-md">Create New Task</a>
	</div>
  {% endblock tasks %}